<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <httpRequestEnd>
        <processor type="Sitecore.ExperienceExplorer.Business.Pipelines.HttpRequestProcessed.RetrieveRenderingsPipeline, Sitecore.ExperienceExplorer.Business" set:type="Sitecore.Support.ExperienceExplorer.Business.Pipelines.HttpRequestProcessed.RetrieveRenderingsPipeline, Sitecore.Support.212242"/>
      </httpRequestEnd>
    </pipelines>
    <settings>
      <!-- Experience Explorer Web Database
           Sets the name of the web database for Experience Explorer
      -->
      <setting name="ExperienceExplorer.WebDatabase" value="web1" />
    </settings>
  </sitecore>
</configuration>